{% extends 'base.html' %}
{% block title %}{{ genre.genre }}{% endblock title %}
{% block body %}
<h1>Book by genre - {{ genre.genre }}</h1>
    <div>
        {% if user.is_authenticated %}
        username = {{ user.username }}
        email = {{ user.email }}
        <a href="{% url 'accounts:logout' %}">Logout</a>
        <a href="{% url 'accounts:profile_and_update' %}">{{ user.username}}'s Profile</a>
        {% else %}
        <a href="{% url 'accounts:login' %}">Login</a>
        <a href="{% url 'accounts:signup' %}">SignUp</a>
        {% endif %}
        <a href="{% url 'shop:index' %}">Home</a>
    </div>

    <hr>
    <div>
        {% for book in genre.book_set.all %}
            <img src="{{ book.book_profile_image.url }}" alt="book">
            <a href="{{ book.get_absolute_url }}">{{ book.title|title }}</a>
            <br><hr>
        {% endfor %}
    </div>
{% endblock body %}