{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block body %}
<a href="{% url 'shop:index' %}">Home</a>
<h1>Your Cart</h1>
<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
          </tr>
    </thead>
    <tbody>
        {% for item in cart %}
          {% with book=item.book %}
            <tr>
              <td>
                <a href="{{ book.get_absolute_url }}">
                  <img src="{% if book.book_profile_image %}{{ book.book_profile_image.url }}
                  {% else %}{% static 'default.png' %}{% endif %}">
                </a>
              </td>
              <td>{{ book.title }}</td>
              <td>
                <form action="{% url 'orders:add_to_cart' book.id %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.override }}
                  <input type="submit" value="Update">
                  {% csrf_token %}
                </form>
              </td>
              <td>
                <form action="{% url 'orders:cart_remove' book.id %}" method="post">
                  <input type="submit" value="Remove">
                  {% csrf_token %}
                </form>
              </td>
              <td class="num">${{ item.price }}</td>
              <td class="num">${{ item.total_price }}</td>
            </tr>
          {% endwith %}
        {% endfor %}
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num">Rs {{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<a href="{% url 'orders:checkout' %}">Checkout</a>
{% endblock body %}