{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout Items{% endblock title %}
{% block body %}
<a href="{% url 'shop:index' %}">Home</a>
<h1>Checkout</h1>
<a href="{% url 'orders:cart_view' %}">Update Cart</a>
<table style="width: 50%;">
    <thead>
        <tr>
            <th>SN</th>
            <th>Book</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
          {% with book=item.book %}
            <tr>
              <td>
                <a href="{{ book.get_absolute_url }}">
                  <img src="{% if book.book_profile_image %}{{ book.book_profile_image.url }}
                  {% else %}{% static 'default.png' %}{% endif %}">
                </a>
              </td>
              <td>{{ book.title }}</td>
              <td class="num">Rs {{ item.price }}</td>
              <td>{{ item.quantity }}</td>
              <td class="num">Rs {{ item.total_price }}</td>
            </tr>
          {% endwith %}
        {% endfor %}
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num">Rs {{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Checkout">
</form>
{% endblock body %}