{% extends 'base.html' %}
{% block title %}Checkout Items{% endblock title %}
{% block body %}
<a href="{% url 'shop:index' %}">Home</a>
<h1>Your Cart</h1>
<a href="{% url 'orders:cart_view' %}">Update Cart</a>
<table style="width: 50%;">
    <thead>
        <tr>
            <th>SN</th>
            <th>Book</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.cartitems.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.book.title }}</td>
                <td>{{ item.rate }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.subtotal }}</td>
                <td>
                    <a href="{% url 'orders:cart_manage_view' item.id %}?action=inc">+</a>
                    <a href="{% url 'orders:cart_manage_view' item.id %}?action=dec">-</a>
                    <a href="{% url 'orders:cart_manage_view' item.id %}?action=rem">x</a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td>Total</td>
                <td>{{ cart.total }}</td>
            </tr>
    </tbody>
</table>
<h3>Checkout Form</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Checkout">
</form>
{% endblock body %}