{% extends 'base.html' %}
{% block title %}Update Profile{% endblock title %}
{% block body %}
<h1>Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
<img src="{{ profile.avatar.url }}" alt="profile_image">
<h3>Email: &emsp13; {{ profile.user.email }}</h3>
<h3>Age : &emsp13; {{ profile.user.age }}</h3>
<h3>Gender : &emsp13; {{ profile.user.gender }}</h3>
<h3>Date of birth : &emsp13; {{ profile.date_of_birth }}</h3>
<h3>Phone : &emsp13; {{ profile.phone }}</h3>
<h3>Account Created : &emsp13; {{ profile.created }}</h3>
<h3>Last Login : &emsp13; {{ profile.user.last_login }}</h3>
<h3>Authors Followed: {{ followings_count }}</h3>
<hr>
<h3>List of Authors followed</h3>
<ul>
    {% for following in followings %}
        <a href="{{ following.followed.get_absolute_url }}"><li>{{ following.followed }}</li></a>
    {% endfor %}
</ul>
<hr>
<h3>Shipping Address</h3>
<ul>
    {% for ad in user.order_address.all %}
        <li><a href="{{ ad.get_absolute_url }}">{{ ad }}</a></li>
    {% endfor %}
</ul>
<hr>
<h3>Add new shipping address</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ address.as_p }}
    <input type="submit" value="Add">
</form>
<hr>
<br>
<h2>Your Orders</h2>
<hr>
<h3>All Orders</h3>
<table>
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Order Items</th>
            <th>Order Status</th>
            <th>Shipping Address</th>
            <th>Ordered Date</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders_all %}
            <tr>
                <td><a href="{{ order.get_absolute_url }}">#Order{{ order.id }}</a></td>
                <td><ul>{% for items in order.orderitems.all %} <li>{{ items }}</li>{% endfor %}</ul></td>
                <td>{{ order.order_status }}</td>
                <td>{{ order.shipping_address }}</td>
                <td>{{ order.created_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<hr>
<h3>Pending Orders</h3>
<table>
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Order Items</th>
            <th>Order Status</th>
            <th>Shipping Address</th>
            <th>Ordered Date</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders_pending %}
            <tr>
                <td><a href="{{ order.get_absolute_url }}">#Order{{ order.id }}</a></td>
                <td><ul>{% for items in order.orderitems.all %} <li>{{ items }}</li>{% endfor %}</ul></td>
                <td>{{ order.order_status }}</td>
                <td>{{ order.shipping_address }}</td>
                <td>{{ order.created_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<hr>
<h3>Orders Delivered</h3>
<table>
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Order Items</th>
            <th>Order Status</th>
            <th>Shipping Address</th>
            <th>Ordered Date</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders_delivered %}
            <tr>
                <td><a href="{{ order.get_absolute_url }}">#Order{{ order.id }}</a></td>
                <td><ul>{% for items in order.orderitems.all %} <li>{{ items }}</li>{% endfor %}</ul></td>
                <td>{{ order.order_status }}</td>
                <td>{{ order.shipping_address }}</td>
                <td>{{ order.created_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr>
<h3>WishList</h3>
<ul>
    {% for book in books %}
    <li>
        {{ book.title }}
        <img src="{{ book.book_profile_image.url }}" alt="">
    </li>
    {% endfor %}
</ul>


<hr>
{% if not profile.email_confirmed %}
    <a href="{% url 'accounts:resend_activate' %}" type="button" role="button">Resend Activation Link</a>
{% endif %}
    <h1>Update Profile</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Update">
    </form>
    <br>
    <h1>Password Change</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ password_change_form.as_p }}
        <input type="submit" value="Change Password">
    </form>
<a href="{% url 'shop:index' %}">Home</a>
{% if not profile.email_confirmed %}
    <a href="{% url 'accounts:resend_activate' %}" type="button" role="button">Resend Activation Link</a>
{% endif %}
{% endblock body %}