{% extends 'base.html' %}
{% block title %}Update Profile{% endblock title %}
{% block body %}
<h1>Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
<img src="{{ profile.avatar.url }}" alt="profile_image">
<h3>Email: &emsp13; {{ profile.user.email }}</h3>
<h3>Age : &emsp13; {{ profile.user.age }}</h3>
<h3>Gender : &emsp13; {{ profile.user.gender }}</h3>
<h3>Date of birth : &emsp13; {{ profile.date_of_birth }}</h3>
<h3>Phone : &emsp13; {{ profile.phone }}</h3>
<h3>Account Created : &emsp13; {{ profile.created }}</h3>
<h3>Last Login : &emsp13; {{ profile.user.last_login }}</h3>
<h3>Authors Followed: {{ followings_count }}</h3>
<h3>List of Authors followed</h3>
<ul>
    {% for following in followings %}
        <a href="{{ following.followed.get_absolute_url }}"><li>{{ following.followed }}</li></a>
    {% endfor %}
</ul>
{% if not profile.email_confirmed %}
    <a href="{% url 'accounts:resend_activate' %}" type="button" role="button">Resend Activation Link</a>
{% endif %}
    <h1>Update Profile</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Update">
    </form>
    <br>
    <h1>Password Change</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ password_change_form.as_p }}
        <input type="submit" value="Change Password">
    </form>
    <a href="{% url 'shop:index' %}">Home</a>
{% endblock body %}